
{% extends "news/base.html" %}
{% block content %}
        <article class="media content-section">
<!--          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
          <div class="media-body">
            <div class="article-metadata">
<!--              <a class="mr-2" href="#">{{ post.author }}</a>-->
              <small class="text-muted">{{ object.created }}</small>
            </div>
            <h2> class="article-title" >{{ object.title }}</h2>
            <p class="article-content">{{ object.text }}</p>
          </div>
        </article>

{% endblock content %}

<!--detail view expects the context of the object to be called detail view-->